# Dependency directories
node_modules/

# IDE related
.idea

# Test coverage
coverage
*.lcov

# Local settings
*.local.json

.claude/settings.json

packages/vscode-plugin/*.vsix
playground/src
playground/ripple/src
playground/react/src
playground/solid/src
playground/vue/src

website/.vitepress/dist/
website/.vitepress/cache/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# build output
.vercel

# OS-specific
.DS_Store

# VS Code settings
.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# Chrome Debugger
.chrome-debug-profile/

tmp
dist
debug
.build-hash
.build-hash-built
**/*.d.tsrx.ts

# Temporary folders
tmp/
temp/
